<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Shell Remote Sense">
      <!-- https://remote-sense-ui-dev.azurewebsites.net/ -->
  <test thread-count="5" name="Test">
  <parameter name="URL" value="" />
    <classes>
      <class name="com.gl.sprint.testcase.FunctionalUI.DashboardTest"/>

      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
